{% assign featured = section.settings.featured_collection %}
{% assign products_per_row = section.settings.num_per_row %}
{% assign rows = section.settings.num_rows %}
{% assign total_products = products_per_row | times: rows %}
{% paginate collections[featured].products by total_products %}
<div data-section-id="{{ section.id }}" data-section-type="featured-products-section">
  {% unless section.settings.title == blank %}
  <div class="section-header section-header--small">
    <h2 class="section-header__title">
      {{ section.settings.title }}
    </h2>
  </div>
  {% endunless %}
  {% case products_per_row %}
  {% when '3' %}
  {% assign grid_item_width = 'medium--one-third post-large--one-third' %}
  {% when '4' %}
  {% assign grid_item_width = 'medium-down--one-half post-large--one-quarter' %}
  {% when '5' %}
  {% assign grid_item_width = 'medium-down--one-half post-large--one-fifth' %}
  {% endcase %}
  <div class="grid-uniform" id="CodehouseContainer">
    {% for product in collections[featured].products limit: total_products %}
    {%comment%}{%- include 'bold-product' with product, hide_action: 'skip' -%}{%endcomment%}
    {% assign featured = product %}
    <div class="grid__item {{grid_item_width}}" {{ block.shopify_attributes }}>
      {% include 'product-grid-item' %}
    </div>
    {% else %}
    <div class="grid__item">
      <div class="helper-section">
        <div class="grid-uniform helper-content">
          {% for i in (1..total_products) %}
          <div class="grid__item {{grid_item_width}}">
            <a href="/admin/products" class="grid-link{% if section.settings.center_grid_link %} text-center{% endif %}">
              <span class="grid-link__image grid-link__image--product">
                <span class="grid-link__image-centered">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </span>
              </span>
              <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
              <p class="grid-link__meta">
                <strong>$19.99</strong>
              </p>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if section.settings.show_load_more_button %}
  <div class="text-center" id="CodehousePagination">
    {% if paginate.next %}
    <a href="{{ paginate.next.url }}" class="btn">Loading More</a>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endpaginate %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
{{ 'codehouse.min.js' | asset_url | script_tag }}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    var endlessScroll = new Codehouse({
      container: '#CodehouseContainer',
      pagination: '#CodehousePagination',
      method: 'scroll',
      offset: 1000
    });
  });
</script>

{% schema %}
{
  "name": "Infinity Collection",
    "class": "index-section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Featured collection"
        },
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Collection"
        },
        {
          "type": "select",
          "id": "num_per_row",
          "label": "Products per row",
          "default": "3",
          "options": [
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            }
          ]
        },
        {
          "type": "select",
          "id": "num_rows",
          "label": "Rows",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "vendor_enable",
          "label": "Show product vendor"
        },
        {
          "type": "checkbox",
          "id": "show_sale_circle",
          "label": "Show product sale circle"
        },
        {
          "type": "checkbox",
          "id": "show_sold_out_circle",
          "label": "Center text below product images"
        },
        {
          "type": "checkbox",
          "id": "show_load_more_button",
          "label": "Display the Load More Button"
        }
      ],
        "presets": [
          {
            "name": "Infinity Collection",
            "category": "Collection",
            "settings":
            {
              "title": "Featured collection",
              "featured_collection": "frontpage"
            }
          }
        ]
}
{% endschema %}
